/*
Haber

Web: http://
Author: José Luis Sandoval Alaguna
E-Mail: alagunajs@gmail.com
Versión: 1.0
Fecha: 25/04/2012
*/

@import "settings";
@import "foundation";

@import "compass";
//Sprites para iconos de redes sociales Header
$sicons-layout:horizontal;
@import "sicons/*.png";
@include all-sicons-sprites;

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

/* Estilo Mensaje Primera Visita */

#first-visit.tooltipfs {
  &:after {
    position: absolute;
    bottom: 100%;
    left: 10px;
    content: "";
    height: 0px;
    width: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-width: medium 10px 10px;
    border-style: none solid solid;
    border-color: -moz-use-text-color transparent #FFF;
    display: inline-block;
    vertical-align: middle;
  }
  &:before {
    position: absolute;
    bottom: 100%;
    left: 8px;
    content: "";
    height: 0px;
    width: 0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-width: medium 12px 12px;
    border-style: none solid solid;
    border-color: -moz-use-text-color transparent #919191;
    display: inline-block;
    vertical-align: middle;
  }
}

/* Fuentes de iconos */
@font-face {
		font-weight: normal;
		font-style: normal;
		font-family: 'haberIcons';
		src: url("../fonts/haberIcons/haberIcons.eot");
		src: url("../fonts/haberIcons/haberIcons.eot?#iefix") format("embedded-opentype"), url("../fonts/haberIcons/haberIcons.woff") format("woff"), url("../fonts/haberIcons/haberIcons.ttf") format("truetype"), url("../fonts/haberIcons/haberIcons.svg#haberIcons") format("svg");
}

/*Cabecera de Pagina : Menu Lateral */
* {
  @include box-sizing(border-box);
  &:after, &::before {
    @include box-sizing(border-box);
  }
}

.gn-menu-main {
  margin: 0;
  padding: 0;
  background: #ed231a;
  color: #ffffff;
  list-style: none;
  text-transform: none;
  font-weight: 300;
  font-family: 'Sawasdee','Ubuntu', 'Lato', Arial, sans-serif;
  line-height: 60px;
  ul {
    margin: 0;
    padding: 0;
    background: black;
    color: #ffffff;
    list-style: none;
    text-transform: none;
    font-weight: 300;
    font-family: 'Lato', Arial, sans-serif;
    line-height: 60px;
  }
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  font-size: 13px;
  a {
    display: block;
    height: 100%;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
}

.no-touch {
  .gn-menu-main a:hover {
    background: #810c0d;
    color: white;
  }
  .gn-menu li.gn-search-item:hover {
    background: #810c0d;
    color: white;
    a {
      background: #810c0d;
      color: white;
    }
  }
}

.gn-menu-main {
  > li {
    display: block;
    float: left;
    height: 100%;
    border-right: 1px solid #c6d0da;
    text-align: center;
  }
  li.gn-trigger {
    position: relative;
    width: 60px;
    @include user-select(none);
  }
  > li {
    &:last-child {
      float: right;
      border-right: none;
      border-left: 1px solid #c6d0da;
    }
    > a {
      padding: 0 30px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
    }
  }
  &:after {
    display: table;
    clear: both;
    content: "";
  }
}


/* icon-only trigger (menu item) */

.gn-menu-wrapper {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 60px;
  border-top: 1px solid #c6d0da;
  background: white;
  @include translateX(-60px);
  @include transition(transform 0.3s, width 0.3s);
}

.gn-scroller {
  position: absolute;
  overflow-y: scroll;
  width: 370px;
  height: 100%;
}

.gn-menu {
  border-bottom: 1px solid #c6d0da;
  text-align: left;
  font-size: 18px;
  li {
    &:not(:first-child), li {
      @include  box-shadow(inset 0 1px #c6d0da);
    }
  }
}

.gn-submenu li {
  overflow: hidden;
  height: 0;
  @include transition(height 0.3s);
  a {
    color: #c1c9d1;
  }
}


input.gn-search {
  position: relative;
  z-index: 10;
  padding-left: 60px;
  outline: none;
  border: none;
  background: transparent;
  color: black;
  font-weight: 300;
  font-family: 'Sawasdee','Lato', Arial, sans-serif;
  cursor: pointer;
}

/* placeholder */

.gn-search {
  &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
    color: red;
  }
  &:focus::-webkit-input-placeholder {
    color: transparent;
  }
}

/* hide placeholder when active in Chrome */

.no-touch .gn-menu li.gn-search-item:hover .gn-search:focus::-webkit-input-placeholder {
  color: transparent;
}

input.gn-search:focus {
  cursor: text;
}

.no-touch .gn-menu li.gn-search-item:hover {
  input.gn-search {
    color: red;
  }
  .gn-search {
    &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
      color: red;
    }
  }
}

/* placeholder */

.gn-menu-main a.gn-icon-search {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
}

.gn-icon::before {
  display: inline-block;
  width: 60px;
  text-align: center;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'haberIcons';
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
}

.gn-icon-home:before {
	content: "\e600";
}
.gn-icon-office:before {
	content: "\e601";
}
.gn-icon-image:before {
	content: "\e602";
}
.gn-icon-camera:before {
	content: "\e603";
}
.gn-icon-headphones:before {
	content: "\e604";
}
.gn-icon-film:before {
	content: "\e605";
}
.gn-icon-bullhorn:before {
	content: "\e606";
}
.gn-icon-book:before {
	content: "\e607";
}
.gn-icon-books:before {
	content: "\e608";
}
.gn-icon-profile:before {
	content: "\e609";
}
.gn-icon-tag:before {
	content: "\e60a";
}
.gn-icon-cart:before {
	content: "\e60b";
}
.gn-icon-calendar:before {
	content: "\e60c";
}
.gn-icon-tablet:before {
	content: "\e60d";
}
.gn-icon-cabinet:before {
	content: "\e60e";
}
.gn-icon-bubbles:before {
	content: "\e60f";
}
.gn-icon-users:before {
	content: "\e610";
}
.gn-icon-user:before {
	content: "\e611";
}
.gn-icon-spinner:before {
	content: "\e612";
}
.gn-icon-search:before {
	content: "\e613";
}
.gn-icon-cog:before {
	content: "\e614";
}
.gn-icon-leaf:before {
	content: "\e615";
}
.gn-icon-lab:before {
	content: "\e616";
}
.gn-icon-accessibility:before {
	content: "\e617";
}
.gn-icon-switch:before {
	content: "\e618";
}
.gn-icon-earth:before {
	content: "\e619";
}
.gn-icon-eye:before {
	content: "\e61a";
}
.gn-icon-notification:before {
	content: "\e61b";
}
.gn-icon-question:before {
	content: "\e61c";
}
.gn-icon-mail:before {
	content: "\e61d";
}
.gn-icon-googleplus:before {
	content: "\e61e";
}
.gn-icon-facebook:before {
	content: "\e61f";
}
.gn-icon-twitter:before {
	content: "\e620";
}
.gn-icon-feed:before {
	content: "\e621";
}
.gn-icon-youtube:before {
	content: "\e622";
}
.gn-icon-html5:before {
	content: "\e623";
}
/* if an icon anchor has a span, hide the span */

.gn-icon span {
  width: 0;
  height: 0;
  display: block;
  overflow: hidden;
}

.gn-icon-menu::before {
  margin-left: -15px;
  vertical-align: -2px;
  width: 30px;
  height: 3px;
  background: #5f6f81;
  box-shadow: 0 3px white, 0 -6px #5f6f81, 0 -9px white, 0 -12px #5f6f81;
  content: '';
}

.no-touch .gn-icon-menu {
  &:hover::before, &.gn-selected:hover::before {
    background: white;
    box-shadow: 0 3px #5f6f81, 0 -6px white, 0 -9px #5f6f81, 0 -12px white;
  }
}

.gn-icon-menu.gn-selected::before {
  background: #5993cd;
  box-shadow: 0 3px white, 0 -6px #5993cd, 0 -9px white, 0 -12px #5993cd;
}


/* styles for opening menu */

.gn-menu-wrapper {
  &.gn-open-all, &.gn-open-part {
    @include translateX(0px);

  }
  &.gn-open-all {
    width: 340px;
    .gn-submenu li {
      height: 60px;
    }
  }
}

@media screen and (max-width: 422px) {
  .gn-menu-wrapper.gn-open-all {
    @include translateX(0px);
    width: 100%;
    .gn-scroller {
      width: 130%;
    }
  }
}